*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #001d3d;
}
.information-container {
     min-height: max-content;
     display: flex;
     margin-top: 5rem;
     flex-direction: column;
     background-color: #fefae0;
     padding: 20px;
     border-radius: 30px;
     border: 2px solid rgba(255,255,255,.2);
     box-shadow: -5px 10px 10px 5px #000;
     transition: .5s ease;
}


.information-container:hover {
    background-color:#042638 ;
    box-shadow: -5px 10px 10px 5px #000 inset;
    color: #fff;
}
.heading {
    font-size:5rem;
}
.information-field {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 5rem;

}
.information-field label {
    font-size: 2rem;
    font-weight: 500;
}
.information-field input {
    width: 100%;
    height: 50px;
    color: red;
    font-size: 1.3rem;
   background-color: transparent;
   border-top: none;
   border-left: none;
   text-transform: capitalize;
}
.btn {
    width: 10rem;
    height: 50px;
    border-radius: 3rem;
    border: none;
    position: relative;
    color: black;
    box-shadow: 5px 5px 7px 0px #0000003f;
    background-color: #fff;
    font-size: 20px;
    z-index: 1;
}
.btn::before{
    content: '';
    position: absolute;
    background-color: #e5e5e5;
    border-radius: 3rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.8s;
    z-index: -1;
}
.btn:hover::before {
    transform: scaleX(1);
}

/* hidden display */

.card-container {
     margin-top: 6rem;
     display: none;
     flex-direction: column;
     align-items: center;
     gap: 5.5rem;
     text-align: center;
     background: url('backgroung\ 5\ image.jpeg');
     background-repeat: no-repeat;
     background-size: cover; 
     background-position: center;
     width: 70%;
     height: 100%;
     text-transform: capitalize;
}
.card-container.active {
    display: flex;
}
.location-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    font-size: 1.5rem;
}
h1 {
    font-family: cursive;
    font-size: 3rem;
    color: #fb6f92;
    margin-top: 5.5rem;
}
h2{
    color: #457b9d;
    font-size: 2rem;
}
h3 {
    color: #e63946;
    font-size: 1.5rem;
}
.b{
    color: #a53860 ;
}
.i{
    color: #2b2d42;
}
.r{
    color: #ffc300;
}
.t{
    color:#03045e ;
}
.h{
    color:#ae2012 ;
}
.d{
    color:#432818 ;
}
.a{
    color: #ef476f;
}
.y{
    color: #f35b04;
}

.dawnload-card {
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.dawnload-card:hover {
    background-color: #218838;
}

.error {
    border: 2px solid red;
  }


 @media (max-width:900px) {
    .information-container {
        margin-top: 3rem;
    }
    .heading {
        font-size: 3rem;
    }
    .information-field {
        margin-top: 3rem;
    }
    .information-field label {
        font-size: 1.5rem;
    }
    .information-field input {
        height: 30px;
        font-size: 1rem;
    } 
    .btn {
        width: 8rem;
        height: 40px;
    }
 }
 @media (max-width:450px) {
    .information-container {
        margin-top: 2rem;
    }
    .heading {
        font-size: 2rem;
    }
    .information-field {
        margin-top: 2rem;
    }
    .information-field label {
        font-size: 1rem;
    }
    .information-field input {
        height: 30px;
        font-size: 1rem;
    } 
    .btn {
        width: 6rem;
        height: 30px;
        font-size: 15px;
    }
 } 
  @media (max-width: 1200px) {
    .card-container{
        gap: 5rem;
    }
    .card-container h1 {
        font-size: 4rem;
        margin-top: 5.5rem;
    }

    .card-container h2 {
        font-size: 2rem;
    }

    .card-container h3 {
        font-size: 1.8rem;
    }

    .location-container {
        gap: 5rem;
    }
}
@media (max-width: 1000px) {
    .card-container h1 {
        font-size: 2rem;
        margin-top: 5rem;
    }

    .card-container h2 {
        font-size: 1rem;
    }

    .card-container h3 {
        font-size: 1rem;
    }

    .location-container {
        gap: 2rem;
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .card-container{
        gap: 4.5rem;
    }
    .card-container h1 {
        font-size: 2.3rem;
        margin-top: 4rem;
    }

    .card-container h2 {
        font-size: 1.5rem;
    }

    .card-container h3 {
        font-size: 1rem;
    }

    .location-container {
        gap: 2rem;
        font-size: 15px;
    }
}
@media (max-width: 650px) {
    .card-container{
        gap: 4.8rem;
    }
    .card-container h1 {
        font-size: 1.8rem;
        margin-top: 3rem;
    }

    .card-container h2 {
        font-size: 1.2rem;
    }

    .card-container h3 {
        font-size: 1rem;
    }

    .location-container {
        gap: 2.4rem;
        font-size: 15px;
    }
}
@media (max-width: 550px) {
    .card-container{
        gap: 4.8rem;
    }
    .card-container h1 {
        font-size: 1.4rem;
        margin-top: 4rem;
    }

    .card-container h2 {
        font-size: 1rem;
    }

    .card-container h3 {
        font-size: 1rem;
    }

    .location-container {
        gap: 2.4rem;
        font-size: 10px;
    }
}
@media (max-width: 375px) {
    .card-container{
        width: 400px;
    }
    .card-container h1 {
        font-size: 1.5rem;
        margin-top: 3.8rem;
    }

    .card-container h2 {
        font-size: 1rem;
    }

    .card-container h3 {
        font-size: 1rem;
    }

    .location-container {
        gap: 2rem;
    }
}

/* .photo-upload-container{
    background: transparent;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
   max-width:max-content;
   max-height: max-content;
    border: 2px solid black;
    margin-top: 0rem;
  }
  input[type="file"] {
    display: block;
    margin: 15px auto;
}

button {
    background-color: #007bff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin-top: 4rem;
}
#photo-preview {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
    overflow: hidden;
}
#photo-preview img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
.xMark{
    float: inline-end;
    margin-top: 0;
    border: none;
    background-color: transparent;
    visibility: hidden;
}
.xMark.active{
    visibility: visible;
} */
